<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weatherapp.png">

    <link rel="stylesheet" href="./css/styles.css">


</head>



<body>

    <div class="main">
        {{>header}}
        <p>This site was created by Aly Aboelnasr to get the Weather.</p>
        <img class="portrait" src="./img/pic.jpg">
    </div>
    {{>footer}}

</body>


</html>